.btn-primary{
    margin: 10px 0px;
}

.my-Form{
    width: 70%;
    margin: auto;
}

.table{
    width: 78%;
    margin: auto;
}
.table button{ 
    margin: 0px;
    padding: 3px;
}


